<script>
  $(document).ready(function(){
    $(".btn-edit").click(function () {
      let idPresentation = $(this).attr("aria-id");

      $.ajax({
        url: "{% url 'crud:get_presentation' %}",
        type: "GET",
        data: {
          id: idPresentation,
        },
        dataType: "json", // added data type
        success: function (res) {
          let inputId = $('.id_presentation')
          let inputName = $('.name_presentation')
          inputId.val(res.id).attr('value', res.id)
          inputName.val(res.name).attr('value', res.name)

          $('#editExistingPresentation').attr('aria-hidden', 'false').modal('show');
          $('#editExistingPresentation .btn-close').focus();
        },
      })
    })

    $(".btn-delete").click(function () {
      let idPresentation = $(this).attr("aria-id");
      let inputId = $('.id_presentation')

      inputId.val(idPresentation).attr('value', idPresentation)
      $('#deleteExistingPresentation').attr('aria-hidden', 'false').modal('show');
      $('#deleteExistingPresentation .btn-close').focus();
    })

    // When closing the modal
    $('#editExistingPresentation').on('hidden.bs.modal', function () {
      // Set aria-hidden to true when modal is closed
      $('#editExistingPresentation').attr('aria-hidden', 'true');
      
      // Optionally, focus on the element that opened the modal or somewhere logical
      $('.btn-edit').focus();  // or another element, like the last focused element before opening
    });

    // When closing the modal
    $('#deleteExistingPresentation').on('hidden.bs.modal', function () {
      // Set aria-hidden to true when modal is closed
      $('#deleteExistingPresentation').attr('aria-hidden', 'true');
      
      // Optionally, focus on the element that opened the modal or somewhere logical
      $('.btn-delete').focus();  // or another element, like the last focused element before opening
    });
  })

</script>
