{% include 'catalogos.html' %}
{% block content %}

{% if brands %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <td>{{ brand.name }}</td>
            <td>
              <button class="btn-edit btn btn-outline-warning" aria-id="{{ brand.id }}">
                Editar
              </button>
            </td>
            <td>
              <button class="btn btn-outline-danger" aria-id="{{ brand.id }}">
                Eliminar
              </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endif %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewBrand">
  + Nuevo
</button>

{% include "brand/modals.html" %}
{% include "brand/scripts.html" %}

{% endblock content %}
