{% include 'catalogos.html' %}
{% block content %}

{% if brands %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <td>{{ brand.name }}</td>
            <td aria-id="{{ brand.id }}">Editar</td>
            <td aria-id="{{ brand.id }}">Eliminar</td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endif %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewBrand">
  + Nuevo
</button>

<!-- Modal -->
<div class="modal fade" id="addNewBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nueva Marca</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="{% url 'crud:create_brand' %}">
      <div class="modal-body">
          {{ form }}
          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <input type="submit" class="btn btn-primary" value="Agregar">
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
